<div class="highlights-alternating-images-band whitewrapper">
  <div class="highlights-alternating-inline-block">
    <div class="grid-wrapper">
      <div class="width-4-12 width-12-12-m block-image">
        <img src="{{site.baseurl}}/assets/images/homepage/communityinvolvement_icon.png" alt="Community involvement icon">
      </div>
      <div class="width-8-12 width-12-12-m block-content">
        <h2>Community Engagement</h2>
	<p>The success of our work in the Nodeshift project and reference architecture relies on
	a strong and healthy JavaScript community and ecosystem.</p>
	<p> Our team is working in the <a href="https://openjsf.org/">OpenJS Foundation</a> to help make it the recognized place to collaborate on what’s good for the JavaScript ecosystem. This includes helping to drive specific initiatives like the <a href="https://openjsf.org/blog/2020/11/12/introducing-the-openjs-collaboration-network/">Collaboration Network</a>, working to make it a good home for projects through our leadership in the <a href="https://github.com/openjs-foundation/cross-project-council">Cross Project Council</a> and helping to represent the projects and community as project and community <a href="https://openjsf.org/about/governance/">representatives</a>.</p>
	<p>The team also has a long history of strong involvement in projects like </a href="https://nodejs.org/en/">Node.js</a> where we are active in and help to lead a number of the working groups and teams as well as 10 core collaborators across Red Hat and IBM of which 4 are on the Technical Steering Committee. We focus on aspects that we believe are important to our enterprise customers and the ecosystem as a whole including stable and predictable releases, diagnostics, security, performance internationalization and the project’s code quality and safety net, along with the infrastructure that supports it. What to hear more about how our team is involved check out <a href="https://developer.ibm.com/collections/nodejs-community/">What’s up in the Node.js Community</a>. We hope to meet you in github!</p>
      </div>
    </div>
  </div>
</div>
