<div class="dark-bg tealwrapper">
<div class="highlights-alternating-images-band">
  <div class="highlights-alternating-inline-block">
    <div class="grid-wrapper">
      <div class="width-8-12 width-12-12-m block-content mobile-flip">
        <h2>Reference Architecture & Examples</h2>
        <p>The goal of the Node.js Reference Architecture is to present the Red Hat and IBM teams' opinion on what components to use when building Node.js applications and guidance on how to be successful in a production environment.</p>
        <p><a href="{{ site.github_fork_url }}/{{ site.github_username }}/nodejs-reference-architecture" target='_blank'>Node.js Reference Architecture</a></p>
        <p>The Nodeshift project also contains a wide range of example applications showcasing the most basic cloud native concepts like REST microservices and Health Checks to more advanced concepts like Cloud Native Security.</p>
        <p><a href="{{ site.github_fork_url }}/{{ site.github_starters_username }}" target='_blank'>Nodeshift Starters</a></p>
      </div>
      <div class="width-4-12 width-12-12-m block-image">
        <img src="{{site.baseurl}}/assets/images/homepage/startersexamples_icon.png" alt="Starters and Examples Icon">
      </div>
    </div>
  </div>
</div>
</div>
