<div class="dark-bg tealwrapper">
<div class="highlights-alternating-images-band">
  <div class="highlights-alternating-inline-block">
    <div class="grid-wrapper">
      <div class="width-8-12 width-12-12-m block-content mobile-flip">
        <h2>STARTERS & EXAMPLES</h2>
        <p>The Nodeshift project contains a wide range of starter applications showcasing the most basic cloud native concepts, like REST microservices and Health Checks, to more advanced concepts like Cloud Native Security.</p>
        <p><a href="{{ site.github_url }}" target='_blank'>NPM Tools: opossum</a></p>
      </div>
      <div class="width-4-12 width-12-12-m block-image">
        <img src="{{site.baseurl}}/assets/images/homepage/startersexamples_icon.png" alt="Starters and Examples Icon">
      </div>
    </div>
  </div>
</div>
</div>