<div class="dark-bg tealwrapper">
  <div class="highlights-alternating-inline-block">
    <div class="grid-wrapper">
      <div class="width-4-12 width-12-12-m block-image">
        <img src="{{site.baseurl}}/assets/images/homepage/libraries_icon.png" alt="Libraries icon">
      </div>
      <div class="width-8-12 width-12-12-m block-content">
        <h2>Reference Architecture</h2>
        <p>The goal of the Node.js Reference Architecture is to present the Nodeshift teams opinion on what components to use when building Node.js applications and guidance on how to be succesful in a production environment.</p>
        <p><a href="{{ site.github_fork_url }}/{{ site.github_username }}/nodejs-reference-architecture" target='_blank'>Node.js Reference Architecture</a></p>
      </div>
    </div>
  </div>
</div>
