  <div class="dark-bg darkgreywrapper">
<div class="component-wrapper two-column-content-band">
  <div class="width-12-12">
	   <h2>WHAT IS NODESHIFT?</h2>
	</div>
  <div class="width-6-12">
    <h3>One of the core concepts of the Nodeshift project, is that your tools shouldn't get in the way. We provided a set of opinionated developer resources for developing Cloud native applications on Kubernetes and Openshift.</h3>
  </div>
  <div class="width-6-12">
   <p>Among these resources are Javascript libraries for Developing and Deploying Applications to Openshift.  As well as starter applications to help get users started.</p>
   	<p><a href='https://github.com/nodeshift' target='_blank'>NodeShift on GitHub</a></p>

  </div>
</div>
</div>