<div class="highlights-alternating-images-band whitewrapper">
  <div class="highlights-alternating-inline-block">
    <div class="grid-wrapper">
      <div class="width-4-12 width-12-12-m block-image">
        <img src="{{site.baseurl}}/assets/images/homepage/libraries_icon.png" alt="Libraries icon">
      </div>
      <div class="width-8-12 width-12-12-m block-content">
        <h2>LIBRARIES</h2>
        <p>The nodeshift project provides libraries to effectively develop Cloud Native Applications. The modules include Opossum(link to opossum on github), a robust circuit breaker and the Nodeshift CLI, an Opinionated command line interface for deploying applications to Openshift</p>
        <p><a href="{{ site.github_url }}" target='_blank'> NPM Library: nodeshift(the module)</a></p>
      </div>
    </div>
  </div>
</div>