  <div class="dark-bg darkgreywrapper">
<div class="component-wrapper two-column-content-band">
  <div class="width-12-12">
	   <h2>WHAT IS NODESHIFT?</h2>
	</div>
  <div class="width-6-12">
    <h3>One of the core concepts of the Nodeshift project, is that your tools shouldn't get in the way. We provided a set of opinionated developer resources for developing Cloud Native Applications on Kubernetes and OpenShift.</h3>
  </div>
  <div class="width-6-12">
   <p>Among these resources are Javascript libraries for Developing and Deploying Applications to the Cloud, an opinionated Reference Architecture for developing Node.js Application, and starter applications to help get you started.</p>
   	<p><a href="{{ site.github_fork_url }}/{{ site.github_username }}" target="_blank">NodeShift on GitHub</a></p>

  </div>
</div>
</div>
